html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

.Parent { 
  display: flex; 
  flex-direction: row; 
} 
.child1 { 
  width: 200px; 
  background-color: rgb(189, 197, 189); 
  text-align: right; 
  color: rgb(20, 20, 20); 
} 
.child2 { 
  width: 70%; 
  color: rgb(20, 20, 20); 
} 
.child3 { 
  width: 100px; 
  background-color: rgb(189, 197, 189); 
  text-align: right; 
  color: rgb(20, 20, 20); 
} 


.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: rgb(189, 197, 189); 
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}
 
.sidebar a.active {
  background-color: #04AA6D;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}