include _header 


<div class="Parent"> 

include _lsidebar

        <div class="child2">
        <div class="shadow-sm p-3 mb-5 bg-red !font ">P5 Basics</div>
        <script type="text/p5" src="https://raw.githubusercontent.com/dstein-art/p5sound/main/lessons/p5basics-1.js"></script>
        </div>


include _rsidebar

include _footer