include _header 


<div class="Parent"> 

include _lsidebar

<div class="child2">
<div class="shadow-sm p-3 mb-5 bg-red !font ">
h1 P5 Basics
</div>

h3 P5 Basics - Terminology
p You don't need anything to get started. Just a browser.
p <b>Algorithm</b>: series of steps to solve a problem
p <b>Syntax</b>: Syntax can be thought of as the grammar and punctuation of the instructions that we provide to a computer. Different programming languages have different syntax.
| We will be working with the <b><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript">Javascript</a></b> language and the <a href="https://www.p5js.org">P5.js</a> library
p <b>Javascript</b> is the programming language that comes with most browsers. It is one of the most common programming languages.
p <b>Libraries</b> can be thought of as an add-on to a programming language that introduces additional functionality.
p <b>P5.JS</b> is a library that makes it easy to do creative coding with Javascript
p Check out P5.js <a href="https://p5js.org/community/">community statement (https://p5js.org/community/)</a>
p <b>Sketch</b> - a name commonly used to describe a P5.JS computer program. In other words, a sketch is a simple program or application.
p <b><a href="https://developer.mozilla.org/en-US/docs/Web/HTML">HTML</a></b> and <b><a href="https://developer.mozilla.org/en-US/docs/Web/CSS">CSS</a></b> are two other commonly used technologies that contribute to making a web page work.

hr

h3 Hello World - Our first P5 Program

<script type="text/p5" src="https://raw.githubusercontent.com/dstein-art/p5sound/main/lessons/p5basics-1.js"></script>

h3 Let's Draw! 

<script type="text/p5" src="https://raw.githubusercontent.com/dstein-art/p5sound/main/lessons/p5basics-2.js"></script>

</div>


include _rsidebar

include _footer